:root {
  --primary: #ff762d;
  --primary-dark: #c94d00;
  --success: #27ae60;
  --danger: #c0392b;
  --dark: #2c3e50;
  --light: #f8f9fa;
  --gray: #6c757d;
}
body {
  background-color: #f8f9fa;
}

.nav-link {
  color: #495057;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
  font-weight: 500;
}
.nav-link:hover,
.nav-link.active {
  background-color: #fff5eb;
  color: var(--primary);
}
.nav-link.active {
  font-weight: 700;
}
.card-icon-bg {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 1.5rem;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}
.form-control {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
}

.form-label {
  font-weight: 500;
}

.form-select {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
}

input {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
}

input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(255, 118, 45, 0.25);
}

.form-select:focus,
.form-control:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(255, 118, 45, 0.25);
}

.btn-orange {
  background-color: var(--primary);
  color: white;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card:hover .card-icon-bg {
  transform: scale(1.1);
}
.card:hover .card-icon-bg i {
  transform: scale(1.1);
}
.bg-orange-soft {
  background-color: #fff5eb;
  color: var(--primary);
}
.bg-green-soft {
  background-color: #d1e7dd;
  color: #198754;
}
.bg-blue-soft {
  background-color: #cfe2ff;
  color: #0d6efd;
}
.bg-red-soft {
  background-color: #f8d7da;
  color: #dc3545;
}
.title-orange {
  color: var(--primary);
}
#userInfo {
  color: var(--primary-dark);
}

#userRole {
  color: var(--primary);
}

.btn-primary-custom,
.btn-orange {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}
.btn-primary-custom:hover,
.btn-orange:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  color: #fff;
}
/* Start toast */
.toast-container {
  position: fixed;
  top: 24px;
  right: 24px;
  max-width: 380px;
}

.toast {
  padding: 16px 20px;
  margin-bottom: 12px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 12px;
  transform: translateX(120%);
  opacity: 0;
  transition: all 0.4s ease;
}

.toast.show {
  transform: translateX(0);
  opacity: 1;
}

.toast.success {
  background: var(--success);
}

.toast.error {
  background: var(--danger);
}

.toast-icon {
  font-size: 24px;
  line-height: 1;
}
/* end Toast */
